{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meus Favoritos</title>
    {% tailwind_css %}
    <script>
      function increment(inputId) {
        const input = document.getElementById(inputId);
        input.value = parseInt(input.value) + 1;
      }
      
      function decrement(inputId) {
        const input = document.getElementById(inputId);
        if (parseInt(input.value) > 1) {
          input.value = parseInt(input.value) - 1;
        }
      }
    </script>
    <style>
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      input[type='number'] {
        -moz-appearance: textfield;
      }
    </style>
  </head>
  <body class="bg-dark-400 h-full">
    <div>
      {% include 'accounts/header.html' %}

      <div class="flex flex-col items-start mx-auto max-w-[1300px] mt-[150px] px-10 space-y-10">
        <div class="space-y-4">
          <a href="{% url 'home' %}" class="flex items-center">
            <img class="w-8 h-8" src="{% static 'accounts/images/back.svg' %}" alt="back" />
            <p class="font-bold font-poppins text-light-300 text-2xl">voltar</p>
          </a>
        </div>
        <h1 class="font-poppins text-[32px]">Meus Favoritos</h1>
        <div class="flex flex-wrap justify-center gap-7">
          {% for favorito in favoritos %}
            <div class="flex flex-col justify-center items-center bg-dark-200 w-72 rounded-lg gap-[15px] p-6 relative">
              {% if favorito.produto.imagem %} <!-- Verifica se a imagem existe -->
                <img class="w-44 h-44" src="{{ favorito.produto.imagem.url }}" alt="{{ favorito.produto.nome }}" class="object-cover" /> <!-- Ajuste o tamanho conforme necessário -->
              {% endif %}
              <h4 class="font-poppins text-2xl font-semibold text-light-300">{{ favorito.produto.nome }}</h4>
              <p class="text-light-400 text-[14px] text-center">{{ favorito.produto.descricao }}</p>
              <p class="text-cake-200 text-[32px]">R$ {{ favorito.produto.preco }}</p>

              {% if user.is_authenticated and not user.is_superuser %} <!-- Verifica se o usuário está autenticado -->
                <form class="flex gap-4" action="{% url 'incluir_pedido' favorito.produto.id %}" method="POST">
                  {% csrf_token %}
                  <div class="flex items-center gap-2">
                    <button type="button" onclick="decrement('quantidade-{{ favorito.produto.id }}')"><img src="{% static 'accounts/images/minus.svg' %}" alt="icon minus" /></button>
                    <input type="number" id="quantidade-{{ favorito.produto.id }}" name="quantidade" value="1" min="1" class="border-none p-1 w-8 text-center bg-transparent" />
                    <button type="button" onclick="increment('quantidade-{{ favorito.produto.id }}')"><img src="{% static 'accounts/images/plus.svg' %}" alt="icon plus" /></button>
                  </div>
                  <button type="submit" class="bg-tomato-100 hover:bg-tomato-200 transition duration-200 ease-in-out rounded-md py-3 px-6">Incluir</button>
                </form>
              {% endif %}
            </div>
          {% empty %}
            <p>Você não tem produtos favoritos.</p>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include 'accounts/footer.html' %}
  </body>
</html>
