{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    {% tailwind_css %}
    <script>
      function increment(inputId) {
        const input = document.getElementById(inputId)
        input.value = parseInt(input.value) + 1
      }
      
      function decrement(inputId) {
        const input = document.getElementById(inputId)
        if (parseInt(input.value) > 1) {
          input.value = parseInt(input.value) - 1
        }
      }
    </script>
    <style>
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      input[type='number'] {
        -moz-appearance: textfield;
      }
    </style>
  </head>
  <body class="bg-dark-400">
    <div>
      {% include 'accounts/header.html' %}
      <div class="bg-gradient-100 h-[260px] w-[1120px] flex justify-center mx-auto relative mt-[280px] rounded-lg">
        <div class="absolute -left-12 -top-[146px]">
          <img src="{% static 'accounts/images/banner.png' %}" alt="banner" />
        </div>

        <div class="flex flex-col justify-center items-center gap-2 w-1/2 ml-auto">
          <h2 class="text-light-300 text-[40px] font-medium font-poppins">Sabores inigualáveis</h2>
          <p class="text-light-300 text-base">Sinta o cuidado do preparo com ingredientes selecionados</p>
        </div>
      </div>

      <div class="flex flex-col justify-center mx-auto mt-16 mb-10 max-w-[1350px]">
        <div class="ml-16">
          <h3 class="text-light-300 font-poppins text-3xl">Cardápio</h3>
        </div>
        <div class="flex flex-wrap justify-center gap-7 mt-6">
          {% for produto in produtos %}
            <div class="flex flex-col justify-center items-center bg-dark-200 w-72 rounded-lg gap-[15px] p-6 relative">
              <img class="w-44 h-44" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" />
              <h4 class="font-poppins text-2xl font-semibold text-light-300">{{ produto.nome }}</h4>
              <p class="text-light-400 text-[14px] text-center">{{ produto.descricao }}</p>
              <p class="text-cake-200 text-[32px]">R$ {{ produto.preco }}</p>

              {% if user.is_authenticated and not user.is_superuser %}
                <form class="flex gap-4" action="{% url 'incluir_pedido' produto.id %}" method="POST">
                  {% csrf_token %}
                  <div class="flex items-center gap-2">
                    <button type="button" onclick="decrement('quantidade-{{ produto.id }}')"><img src="{% static 'accounts/images/minus.svg' %}" alt="icon minus" /></button>
                    <input type="number" id="quantidade-{{ produto.id }}" name="quantidade" value="1" min="1" class="border-none p-1 w-8 text-center bg-transparent" />
                    <button type="button" onclick="increment('quantidade-{{ produto.id }}')"><img src="{% static 'accounts/images/plus.svg' %}" alt="icon plus" /></button>
                  </div>
                  <button type="submit" class="bg-tomato-100 hover:bg-tomato-200 transition duration-200 ease-in-out rounded-md py-3 px-6">Incluir</button>
                </form>
              {% endif %}

              {% if user.is_authenticated %}
                {% if user.is_superuser %}
                  <a href="{% url 'update_produto' produto.id %}" class="absolute top-4 right-5"><img class="w-6 h-6" src="{% static 'accounts/images/pencil.svg' %}" alt="icon edit" /></a>
                {% else %}
                  <form action="{% url 'toggle_favorito' produto.id %}" method="POST" class="absolute top-4 right-5">
                    {% csrf_token %}
                    <button type="submit">
                      {% if produto.is_favorito %}
                        <img class="w-6 h-6" src="{% static 'accounts/images/favorite-hover.svg' %}" alt="icon favorite" />
                      {% else %}
                        <img class="w-6 h-6" src="{% static 'accounts/images/favorite.svg' %}" alt="icon favorite" />
                      {% endif %}
                    </button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
          {% empty %}
            <p>Nenhum produto encontrado.</p>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include 'accounts/footer.html' %}
  </body>
</html>
