{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meus Pedidos</title>
    {% tailwind_css %}
  </head>
  <body class="bg-dark-400">
    <div>
      {% include 'accounts/header.html' %}

      <div class="flex flex-col items-start mx-auto max-w-[1300px] mt-[150px] px-10 space-y-10">
        <div class="space-y-4">
          <a href="{% url 'home' %}" class="flex items-center">
            <img class="w-8 h-8" src="{% static 'accounts/images/back.svg' %}" alt="back" />
            <p class="font-bold font-poppins text-light-300 text-2xl">voltar</p>
          </a>
        </div>
        <h1 class="font-poppins text-[32px]">Meu pedido</h1>
        <div class="flex flex-wrap gap-x-12 gap-y-7">
          {% for pedido in pedidos %}
            <div class="flex items-center gap-3">
              <img class="w-[72px] h-[72px]" src="{{ pedido.produto.imagem.url }}" alt="imagem produto" />
              <div>
                <h2 class="font-poppins text-[20px]">{{ pedido.quantidade }} x {{ pedido.produto.nome }}</h2>
                <div class="flex">
                  <form method="POST" action="{% url 'delete_pedido' pedido.id %}">
                    {% csrf_token %}
                    <button type="submit" class="text-tomato-400 text-[12px]">Excluir</button>
                  </form>
                  <span class="text-[12px] text-light-400 ml-20">R$ {{ pedido.preco_total }}</span>
                </div>
              </div>
            </div>
          {% empty %}
            <span colspan="4" class="text-center text-light-400">Nenhum pedido encontrado.</span>
          {% endfor %}
        </div>

        <p class="font-poppins text-[20px]">Total: R$ {{ total }}</p>

        <button class="font-poppins text-[14px] px-20 py-3 bg-tomato-200 rounded-md">Avançar</button>
      </div>
    </div>

    {% include 'accounts/footer.html' %}
  </body>
</html>
