{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Produto</title>
    {% tailwind_css %}
  </head>
  <body class="bg-dark-400">
    {% include 'accounts/header.html' %}

    <div class="flex flex-col justify-center mx-auto">
      <form method="POST" enctype="multipart/form-data" class="flex flex-col justify-center items-start max-w-[1320px] gap-7 mt-[180px] mx-auto">
        {% csrf_token %}
        <a href="{% url 'home' %}" class="flex items-center">
          <img class="w-8 h-8" src="{% static 'accounts/images/back.svg' %}" alt="back" />
          <p class="font-bold font-poppins text-light-300 text-2xl">voltar</p>
        </a>

        <h1 class="font-poppins text-[32px] text-light-300">Adicionar prato</h1>

        <div>
          <div class="flex gap-8">
            <div class="flex flex-col gap-4">
              <label for="id_imagem" class="text-light-400">Imagem do prato</label>
              <input class="hidden" type="file" name="imagem" id="id_imagem" accept="image/*" />
              <div class="flex items-center gap-2 bg-dark-800 py-5 px-8 rounded-lg hover:bg-dark-1000 cursor-pointer" onclick="document.getElementById('id_imagem').click();">
                <img id="upload-icon" class="h-6 w-6" src="{% static 'accounts/images/download.svg' %}" alt="icon download" />
                <p id="upload-text" class="font-poppins">Selecione imagem</p>
                <p id="file-name" class="font-poppins text-light-100"></p>
              </div>
              {% if form.imagem.errors %}
                <div class="text-red-500 mt-2">
                  {% for error in form.imagem.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="flex flex-col gap-4">
              <label class="text-light-400" for="id_nome">Nome</label>
              <div class="flex gap-2 bg-dark-800 py-3 px-8 rounded-lg">
                <input class="font-poppins bg-dark-800 focus:border-none border-none" type="text" name="nome" id="id_nome" placeholder="Ex.: Salada Ceasar" value="{{ form.nome.value|default_if_none:'' }}" />
              </div>
              {% if form.nome.errors %}
                <div class="text-red-500 mt-2">
                  {% for error in form.nome.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="flex flex-col gap-4">
              <label class="text-light-400" for="id_preco">Preço</label>
              <div class="flex items-center bg-dark-800 py-3 px-8 rounded-lg">
                <p class="">R$</p>
                <input class="font-poppins bg-dark-800 focus:border-none border-none" type="text" name="preco" id="id_preco" placeholder="R$ 00,00" value="{{ form.preco.value|default_if_none:'' }}" />
              </div>
              {% if form.preco.errors %}
                <div class="text-red-500 mt-2">
                  {% for error in form.preco.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

<div class="flex flex-col gap-4">
  <label class="text-light-400" for="id_categoria">Categoria</label>

  <div class="flex gap-2 bg-dark-800 py-3 px-8 rounded-lg">
    <select 
      name="categoria" 
      id="id_categoria" 
      class="font-poppins bg-dark-800 focus:outline-none focus:ring-2 focus:ring-light-400 border-none w-full"
    >
      {% for categoria in categorias %}
        <option 
          value="{{ categoria.id }}" 
          {% if form.instance.categoria.id == categoria.id %}selected{% endif %}
        >
          {{ categoria.nome }}
        </option>
      {% endfor %}
    </select>
  </div>

  {% if form.categoria.errors %}
    <div class="text-red-500 mt-2">
      {% for error in form.categoria.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
</div>

          </div>

          <div class="flex flex-col gap-4 mt-10">
            <label class="text-light-400" for="id_descricao">Descrição</label>
            <div class="flex gap-2 bg-dark-800 py-3 px-8 rounded-lg">
              <input class="w-full pb-28 font-poppins bg-dark-800 focus:border-none border-none" name="descricao" type="text" id="id_descricao" class="form-control" placeholder="Fale brevemente sobre o prato, seus ingredientes e composição" value="{{ form.descricao.value|default_if_none:'' }}" />
            </div>
            {% if form.descricao.errors %}
              <div class="text-red-500 mt-2">
                {% for error in form.descricao.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="flex justify-end">
            <button type="submit" class="mt-10 px-6 py-3 bg-tomato-100 rounded-md hover:bg-tomato-200 transition duration-200 ease-in-out">Salvar alterações</button>
          </div>
        </div>
      </form>
      <form method="POST" action="{% url 'delete_produto' produto.id %}" class="-mt-12 flex justify-end max-w-[1000px]">
        {% csrf_token %}
        <button type="submit" class="px-6 py-3 bg-dark-800 rounded-md hover:bg-dark-1000 transition duration-200 ease-in-out" onclick="return confirm('Tem certeza que deseja deletar este produto?')">Excluir produto</button>
      </form>
    </div>

    {% include 'accounts/footer.html' %}
  </body>
</html>

<script>
  document.getElementById('id_imagem').addEventListener('change', function () {
    const fileName = this.files[0] ? this.files[0].name : 'Nenhum arquivo selecionado'
    const uploadIcon = document.getElementById('upload-icon')
    const uploadText = document.getElementById('upload-text')
    const fileNameDisplay = document.getElementById('file-name')
  
    if (this.files.length > 0) {
      uploadIcon.style.display = 'none'
      uploadText.style.display = 'none'
      fileNameDisplay.textContent = fileName
    } else {
      uploadIcon.style.display = 'block'
      uploadText.style.display = 'block'
      fileNameDisplay.textContent = ''
    }
  })
</script>
